<div class="container" *ngIf="album && tracks">
  <h4 class="display-4 text-center">{{album.name}}</h4>
  <div class="row">
    <div class="col-lg-5 col-md-5">
      <div class="text-center">
        <br/>
        <img [src]="album.images[0].url" class="rounded img-thumbnail img-fluid" [alt]="album.name" *ngIf="album.images[0]">
        <br>
        <br>
        <p class="lead">{{album.releaseDate.slice(0,4)}} - {{album.totalTracks}} brani</p>
        <p>
          <iframe [src]="album.getPlayUrl() | urlSanitize" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
      </div>
    </div>
    <div class="col-lg-7 col-md-7">     
      <br>  
      <table class="table table-sm table-borderless">
        <tbody>
          <tr *ngFor="let track of tracks; let i = index">
            <th scope="row"><small>{{i+1}}</small></th>
            <td><small>{{track.name}}</small></td>
            <td><small>{{track.duration}}</small></td>
            <td>
              <!-- <button class="btn" (click)="playStop(i)"><fa-icon [icon]="getIcon()"></fa-icon></button> -->
              <fa-icon [icon]="track.getIcon()" (click)="playStop(i)"></fa-icon>
              </td>
          </tr>            
        </tbody>
      </table>
    </div>
  </div>
</div>
